* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
  width: auto;
  overflow-x: hidden;
}

.content-fluid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "header header" "section1 section1" "section2 section2" "section3 section3" "vertododiv vertododiv" "footer footer";
}

.content-fluid-explorar {
  display: grid;
  grid-template-columns: 300px 2fr;
  grid-template-areas: "header header header" "aside section2 section2" "footer footer footer";
  gap: 1px;
}

.content-fluid-book {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-areas: "header header" "book aside" "footer footer";
  gap: 1px;
}

header {
  grid-area: header;
  width: auto;
}

nav ul li a:hover {
  background-color: black;
}

/* Para que le de background cuando pases el mouse por encima */
nav img {
  width: 150px;
  height: 40px;
}

.section1 {
  background-image: url(../assets/img/Section\ 1\ fondo\ index\ 2.JPG);
  background-size: cover;
  text-align: center;
  grid-area: section1;
  width: auto;
}
.section1 div {
  display: inline-block;
  color: white;
  margin: 45px;
  left: 0 auto;
  cursor: pointer;
}
.section1 div:hover {
  transform: scale(1.1);
  transition-property: all;
  transition-duration: 0.3s;
}
.section1 div a {
  text-decoration: none;
  color: white;
}
.section1 p {
  font-weight: bolder;
  margin: 5px;
}
.section1 button {
  cursor: pointer;
  background-color: #2abdbb;
  border: solid 2px white;
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 20px;
}

.main {
  display: inline-block;
}

.section2 {
  margin: 30px 80px 30px 80px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  grid-area: section2;
  width: auto;
}
.section2 p {
  margin-top: 8px;
  margin-bottom: 8px;
}
.section2 button {
  cursor: pointer;
  background-color: #2abdbb;
  border: solid 2px white;
  border-radius: 2px;
  width: 125px;
  height: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: small;
}
.section2 .subtitulo {
  font-size: 20px;
  margin-bottom: 40px;
  margin-top: 40px;
}
.section2 .titulo {
  margin-bottom: 50px;
  font-size: 25px;
  font-weight: bolder;
}
.section2 .spantitulo {
  position: relative;
  /* Subrayado con CSS (Utilizar span en lo que se quiera subrayar) */
}
.section2 .spantitulo::after {
  background-color: #2abdbb;
  content: "";
  position: absolute;
  width: 86vw;
  height: 25%;
  bottom: -25px;
  left: 0;
  z-index: -1;
}
.section2 .libro, .section2 .libro-largo {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 2vw;
  width: 150px;
  height: 350px;
  cursor: pointer;
  /* No puedo hacer que todas sus posiciones sean a la misma altura */
}
.section2 .libro:hover, .section2 .libro-largo:hover {
  transform: scale(1.06);
  transition-property: all;
  transition-duration: 0.3s;
}
.section2 .libro a, .section2 .libro-largo a {
  text-decoration: none;
  color: white;
}
.section2 .libro-largo {
  font-size: 14px;
}
.section2 .libro-largo a {
  text-decoration: none;
  color: white;
}

.vertododiv {
  text-align: center;
  margin: 50px;
  grid-area: vertododiv;
  width: auto;
}
.vertododiv .vertodobutton {
  display: inline-flex;
  width: 100px;
  height: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: black;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  cursor: pointer;
  text-transform: uppercase;
  border: solid 2px #2abdbb;
  border-radius: 2px;
}
.vertododiv .vertodobutton a {
  text-decoration: none;
  color: #2abdbb;
}
.vertododiv .vertodobutton:hover {
  transform: scale(1.2);
  transition-property: all;
  transition-duration: 0.3s;
}

.main-footer {
  background-color: black;
  background-image: linear-gradient(black, rgb(33, 57, 68));
  bottom: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: auto;
  height: auto;
  grid-area: footer;
}
.main-footer .footer-left-content {
  display: block;
  float: left;
  margin-left: 20px;
}
.main-footer .footer-left-content div {
  margin-top: 30px;
}
.main-footer .footer-left-content img {
  width: 200px;
  height: 50px;
}
.main-footer .footer-left-content h3 {
  text-align: center;
  color: rgb(212, 209, 209);
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 10px;
  font-size: 16px;
}
.main-footer .footer-left-content .footer-links {
  display: block;
}
.main-footer .footer-left-content .footer-links ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}
.main-footer .footer-left-content .footer-links ul li {
  padding: 0;
  margin-left: 10px;
  box-sizing: border-box;
}
.main-footer .footer-left-content .footer-links ul li a {
  color: rgb(212, 209, 209);
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  text-decoration: none;
  background-color: transparent;
  box-sizing: border-box;
}
.main-footer .footer-left-content .footer-links ul li a:hover {
  border-bottom: 1px solid white;
  color: white;
  transition: all 0.3s ease;
}
.main-footer .footer-right-content {
  float: right;
  margin-right: 20px;
  display: block;
  align-items: flex-end;
  justify-content: space-between;
  color: rgb(212, 209, 209);
}
.main-footer .footer-right-content .payment-methods {
  padding-bottom: 0;
  box-sizing: border-box;
  display: inline-block;
}
.main-footer .footer-right-content .payment-methods p {
  margin: 0;
  padding: 1rem 0;
}
.main-footer .footer-right-content .payment-methods img {
  opacity: 1;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  box-sizing: border-box;
}
.main-footer .footer-right-content .small-print {
  margin-top: 30px;
}
.main-footer .footer-right-content .small-print p {
  text-align: right;
  box-sizing: border-box;
  display: inline-block;
}

.sectionForm {
  margin: 50px 80px 40px 80px;
}
.sectionForm div {
  margin-bottom: 20px;
}
.sectionForm form select, .sectionForm form textarea {
  display: block;
  margin-top: 8px;
  margin-bottom: 15px;
}
.sectionForm form .formInput {
  margin-top: 8px;
  margin-bottom: 15px;
  width: 200px;
  display: block;
}
.sectionForm form .formOption-div {
  width: 50px;
  display: inline-block;
}
.sectionForm form .formOption-div .formOption {
  margin-top: 20px;
  margin-bottom: 15px;
  cursor: pointer;
}
.sectionForm form .formButtom {
  margin-top: 8px;
  margin-bottom: 10px;
  width: 100px;
  margin-right: 20px;
  display: inline-block;
  cursor: pointer;
}

.aside-explorar {
  margin-top: 20px;
  width: 100%;
  float: left;
  padding: 0 0.5rem 0 0;
  box-sizing: border-box;
  margin-left: 10px;
  grid-area: aside;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.aside-explorar h2 {
  margin: 0;
  padding: 1rem 0;
  border-bottom: 1px solid rgb(54, 57, 57);
}
.aside-explorar .aside-explorar-search {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  background-color: rgb(54, 57, 57);
  box-shadow: 0.1rem 0.1rem 0.2rem white;
  margin-left: 0;
  box-sizing: border-box;
}
.aside-explorar .aside-explorar-search .aside-content {
  padding-top: 1rem;
  box-sizing: border-box;
}
.aside-explorar .aside-explorar-search .aside-content .filter-menu {
  box-sizing: border-box;
}
.aside-explorar .aside-explorar-search .aside-content .filter-menu .form-group {
  margin-bottom: 1rem;
  box-sizing: border-box;
}
.aside-explorar .aside-explorar-search .aside-content .filter-menu .form-group label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: small;
}
.aside-explorar .aside-explorar-search .aside-content .filter-menu .form-group .form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.5;
  color: black;
  background-color: white;
  border: 1px solid white;
  border-radius: 0;
  box-shadow: inset 0 1px 1px white;
}
.aside-explorar .aside-explorar-search .aside-content .filter-menu .form-group .palabra {
  width: 100%;
  height: 35px;
  margin-top: 10px;
}
.aside-explorar .aside-explorar-search .aside-content .filter-menu .form-group .filter-button {
  line-height: 40px;
  width: 100%;
  height: 40px;
  padding: 0 1.7rem;
  border: 0;
  margin: 0;
  background: #2abdbb;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border-radius: 0.6rem;
  min-width: 14rem;
  cursor: pointer;
  font-weight: bold;
  box-shadow: none;
  display: inline-block;
}
.aside-explorar .aside-explorar-search .aside-content .filter-menu .form-group .filter-button:hover {
  transform: scale(1.06);
  transition-property: all;
  transition: 0.3s;
}

.explorar {
  margin-left: 30px;
  padding: 1px;
}
.explorar .libro, .explorar .section2 .libro-largo, .section2 .explorar .libro-largo {
  display: inline-block;
  margin-right: 29px;
  margin-bottom: 30px;
  width: 130px;
}
.explorar .spantitulo2 {
  position: relative;
  /* Subrayado con CSS (Utilizar span en lo que se quiera subrayar) */
}
.explorar .spantitulo2::after {
  background-color: #2abdbb;
  content: "";
  position: absolute;
  width: 65vw;
  height: 25%;
  bottom: -25px;
  left: 0;
  z-index: -1;
}

.book-block, .book-aside .aside-tool {
  margin: 3vw 1vw 2vw;
  padding: 1vw;
  display: flex;
  box-sizing: border-box;
  background-color: rgb(54, 57, 57);
  box-shadow: 0.1rem 0.1rem 0.2rem white;
  grid-area: book;
}
.book-block .book-img, .book-aside .aside-tool .book-img {
  margin-right: 1vw;
}
.book-block .book-img img, .book-aside .aside-tool .book-img img {
  height: auto;
  width: auto;
}
.book-block .book-info h1, .book-aside .aside-tool .book-info h1 {
  font-size: 2.4vw;
  padding-bottom: 2vw;
}
.book-block .book-info .stars-rate, .book-aside .aside-tool .book-info .stars-rate {
  padding-bottom: 1vw;
}
.book-block .book-info .stars-rate span, .book-aside .aside-tool .book-info .stars-rate span {
  cursor: pointer;
}

.book-aside {
  height: auto;
  grid-area: aside;
}
.book-aside .aside-tool {
  display: block;
  height: auto;
}
.book-aside .aside-tool h2 {
  color: #ff0072;
  height: auto;
}
.book-aside .aside-tool div {
  display: flex;
  margin-top: 1vw;
  justify-content: center;
  align-items: center;
  height: auto;
}
.book-aside .aside-tool div i {
  padding-right: 1vw;
  height: 2.5vw;
}
.book-aside .aside-tool button {
  line-height: 40px;
  width: 100%;
  height: 40px;
  padding: 0 1.7rem;
  border: 0;
  margin: 0;
  background: #2abdbb;
  color: #fff;
  height: auto;
  text-decoration: none;
  text-align: center;
  border-radius: 0.6rem;
  min-width: auto;
  cursor: pointer;
  font-weight: bold;
  box-shadow: none;
  display: inline-block;
}
.book-aside .aside-tool button:hover {
  transform: scale(1.05);
  transition-property: all;
  transition: 0.3s;
}

@media (max-width: 480px) {
  body {
    width: auto;
  }

  header {
    width: auto;
  }

  .content-fluid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "section1" "section2" "section3" "vertododiv" "footer";
  }

  .section1 {
    width: auto;
  }

  .section2 {
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
  }
  .section2 .libro, .section2 .libro-largo {
    margin-right: 55px;
  }

  .content-fluid .spantitulo::after {
    width: 86vw;
  }

  .vertododiv {
    width: auto;
    margin: 40px 5px 40px 5px;
  }

  footer {
    width: auto;
    height: auto;
  }
  footer .footer-right-content {
    float: left;
    margin-left: 20px;
  }

  .content-fluid-explorar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "aside" "section2" "footer";
    gap: 1px;
  }

  .explorar .libro, .explorar .section2 .libro-largo, .section2 .explorar .libro-largo {
    margin-right: 55px;
  }

  .explorar .spantitulo2::after {
    width: 86vw;
  }

  .content-fluid-book {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "book" "aside" "footer";
    gap: 1px;
  }
}
@media (min-width: 480px) and (max-width: 900px) {
  body {
    width: auto;
  }

  header {
    width: auto;
  }

  .content-fluid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "section1" "section2" "section3" "vertododiv" "footer";
  }

  .section1 {
    width: auto;
  }

  .section2 {
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
  }
  .section2 .libro, .section2 .libro-largo {
    margin-right: 30px;
    margin-bottom: 15px;
  }

  .content-fluid .spantitulo::after {
    width: 86vw;
  }

  .vertododiv {
    width: auto;
    margin: 40px 5px 40px 5px;
  }

  .content-fluid-explorar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "aside" "section2" "footer";
    gap: 1px;
  }

  .explorar .libro, .explorar .section2 .libro-largo, .section2 .explorar .libro-largo {
    margin-right: 55px;
  }

  .explorar .spantitulo2::after {
    width: 86vw;
  }

  footer {
    width: auto;
    height: auto;
  }
  footer .footer-right-content {
    float: left;
    margin-left: 20px;
  }

  .content-fluid-book {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "book" "aside" "footer";
    gap: 1px;
  }
}

/*# sourceMappingURL=style.css.map */
