@import "colores";

@mixin tamanio ($anchor, $altura) {
    width: $anchor;
    height: $altura;
}

$estilos: (
    cursor: pointer,
    centro: center,
    negrita: bolder
);

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $primario;
    color: $secundario;
    width: auto;
    overflow-x: hidden;
}

.content-fluid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header header"
    "section1 section1"
    "section2 section2"
    "section3 section3"
    "vertododiv vertododiv"
    "footer footer";
}

.content-fluid-explorar {
    display: grid;
    grid-template-columns: 300px 2fr;
    grid-template-areas: 
    "header header header"
    "aside section2 section2"
    "footer footer footer";
    gap: 1px;
}

header {
    grid-area: header;
    width: auto;
}

nav ul li a:hover {
    background-color: $primario;
}
/* Para que le de background cuando pases el mouse por encima */

nav img {
    @include tamanio (150px, 40px);
}

.section1 {
    background-image: url(../assets/img/Section\ 1\ fondo\ index\ 2.JPG);
    background-size: cover;
    text-align: map-get($estilos, centro);
    grid-area: section1;
    width: auto;
    div {
        display: inline-block;
        color: $secundario;
        margin: 45px;
        left: 0 auto;
        cursor: map-get($estilos , cursor );
        &:hover {
            transform: scale(1.1);
            transition-property: all;
            transition-duration: .3s;
        }
    }
    p {
        font-weight: map-get($estilos, negrita);
        margin: 5px;
    }
    button {
        cursor: map-get($estilos , cursor );
        background-color: $terciario;
        border: solid 2px $secundario;
        border-radius: 2px;
        display: inline-flex;
        align-items: map-get($estilos, centro);
        justify-content: map-get($estilos, centro);
        @include tamanio (120px, 20px);
    }
}

.main {
    display: inline-block;
}

.section2 {
    margin: 30px 80px 30px 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    grid-area: section2;
    width: auto;
    p{
        margin-top: 8px;
        margin-bottom: 8px;  
    }
    button {
        cursor: map-get($estilos , cursor );
        background-color: $terciario;
        border: solid 2px $secundario;
        border-radius: 2px;
        @include tamanio (125px, 20px);
        display: inline-flex;
        align-items: map-get($estilos, centro);
        justify-content: map-get($estilos, centro);
        font-size: small;
    }  
    .subtitulo {
        font-size: 20px;
        margin-bottom: 40px;
        margin-top: 40px;
    }
    .titulo {
        margin-bottom: 50px;
        font-size: 25px;
        font-weight: map-get($estilos, negrita);
    }
    .spantitulo {
        position: relative;
        &::after {
            background-color:$terciario;
            content: '';
            position: absolute;
            @include tamanio (86vw, 25%);
            bottom: -25px;
            left: 0;
            z-index: -1;
        }
        /* Subrayado con CSS (Utilizar span en lo que se quiera subrayar) */
    }
    .libro {
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 2vw;
        @include tamanio (150px, 350px);
        cursor: map-get($estilos , cursor );
        /* No puedo hacer que todas sus posiciones sean a la misma altura */
        &:hover {
            transform: scale(1.06);
            transition-property: all;
            transition-duration: .3s;
        }
    }
    .libro-largo {
        @extend .libro;
        font-size: 14px;
    }
}

.vertododiv {
    text-align: map-get($estilos, centro);
    margin: 50px;
    grid-area: vertododiv;
    width: auto;
    .vertodobutton {
        display: inline-flex;
        @include tamanio (100px, 30px);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background-color: $primario;
        font-size: 15px;
        align-items: map-get($estilos, centro);
        justify-content: map-get($estilos, centro);
        font-weight: map-get($estilos, negrita);
        cursor: map-get($estilos , cursor );
        text-transform: uppercase;
        border: solid 2px $terciario;
        border-radius: 2px;
        a {
            text-decoration: none;
            color: $terciario;
        }
        &:hover {
            transform: scale(1.2);
            transition-property: all;
            transition-duration: .3s;
        }
    }
}

.main-footer {
    background-color: $primario;
    background-image: linear-gradient($primario, rgb(33, 57, 68));;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    @include tamanio (auto, auto);
    grid-area: footer;
    .footer-left-content {
        display: block;
        float: left;
        margin-left: 20px;
        div {
            margin-top: 30px ;
        }
        img {
            @include tamanio (200px, 50px);
        }
        h3 {
            text-align: map-get($estilos, centro);
            color: rgb(212, 209, 209);
            margin-top: 20px;
            margin-bottom: 10px;
            padding-top: 10px;
            font-size: 16px;
        }
        .footer-links {
            display: block;
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                display: inline-block;
                li {
                    padding: 0;
                    margin-left: 10px;
                    box-sizing: border-box;
                    a {
                        color: rgb(212, 209, 209);
                        display: block;
                        border-bottom: 1px solid rgba(255,255,255,0.1);
                        text-decoration: none;
                        background-color: transparent;
                        box-sizing: border-box;
                        &:hover {
                            border-bottom: 1px solid $secundario;
                            color: $secundario;
                            transition: all .3s ease;
                        }
                    }
                }
            }
        }
    }
    .footer-right-content {
        float: right;
        margin-right: 20px;
        display: block;
        align-items: flex-end;
        justify-content: space-between;
        color: rgb(212, 209, 209);
        .payment-methods {
            padding-bottom: 0;
            box-sizing: border-box;
            display: inline-block;
            p {
                margin: 0;
                padding: 1rem 0;
            }
            img {
                opacity: 1;
                max-width: 100%;
                height: auto;
                vertical-align: middle;
                border: 0;
                box-sizing: border-box;
            }
        }
        .small-print {
            margin-top: 30px;
            p {
                text-align: right;
                box-sizing: border-box;
                display: inline-block;
            }
        }
    }
}

.sectionForm {
    margin: 50px 80px 40px 80px;
    div {
        margin-bottom: 20px;
    }
    form {
        select, textarea {
            display: block;
            margin-top: 8px;
            margin-bottom: 15px;
        }
        .formInput {
            margin-top: 8px;
            margin-bottom: 15px;
            width: 200px;
            display: block;
        }
        .formOption-div {
            width: 50px;
            display: inline-block;
            .formOption {
                margin-top: 20px;
                margin-bottom: 15px;
                cursor: map-get($estilos , cursor );
            }
        }
        .formButtom {
            margin-top: 8px;
            margin-bottom: 10px;
            width: 100px;
            margin-right: 20px;
            display: inline-block;
            cursor: map-get($estilos , cursor );
        }
    }
}

.aside-explorar {
    margin-top: 20px;
    width: 100%;
    float: left;
    padding: 0 0.5rem 0 0;
    box-sizing: border-box;
    margin-left: 10px;
    grid-area: aside;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    h2 {
        margin: 0;
        padding: 1rem 0;
        border-bottom: 1px solid rgb(54,57,57) ;
    }
    .aside-explorar-search {
        padding: .5rem 1rem;
        margin: .5rem;
        background-color: rgb(54,57,57);
        box-shadow: 0.1rem 0.1rem 0.2rem $secundario;
        margin-left: 0;
        box-sizing: border-box;
        .aside-content {
            padding-top: 1rem;
            box-sizing: border-box;
            .filter-menu {
                box-sizing: border-box;
                .form-group {
                    margin-bottom: 1rem;
                    box-sizing: border-box;
                    label {
                        display: inline-block;
                        max-width: 100%;
                        margin-bottom: 5px;
                        font-weight: bold;
                        font-size: small;
                    }
                    .form-control {
                        display: block;
                        @include tamanio (100%, 34px);
                        padding: 6px 12px;
                        font-size: 14px;
                        line-height: 1.5;
                        color: $primario;
                        background-color: $secundario;
                        border: 1px solid $secundario;
                        border-radius: 0;
                        box-shadow: inset 0 1px 1px $secundario;
                    }
                    .palabra {
                        @include tamanio (100%, 35px);
                        margin-top: 10px;
                    }
                    .filter-button {
                        line-height: 40px;
                        @include tamanio (100%, 40px);
                        padding: 0 1.7rem;
                        border: 0;
                        margin: 0;
                        background: $terciario;
                        color: #fff;
                        text-decoration: none;
                        text-align: map-get($estilos, centro);
                        border-radius: .6rem;
                        min-width: 14rem;
                        cursor: map-get($estilos , cursor );
                        font-weight: bold;
                        box-shadow: none;
                        display: inline-block;
                        &:hover {
                            transform: scale(1.06);
                            transition-property: all;
                            transition: .3s;
                        }
                    }
                }
            }
        }
    }
}

.explorar {
    margin-left: 30px;
    padding: 1px;
    .libro {
        @extend .libro;
        display: inline-block;
        margin-right: 29px;
        margin-bottom: 30px;
        width: 130px;
    }
    .spantitulo2 {
        position: relative;;
        &::after {
            background-color:$terciario;
            content: '';
            position: absolute;
            @include tamanio (65vw, 25%);
            bottom: -25px;
            left: 0;
            z-index: -1;
        }
        /* Subrayado con CSS (Utilizar span en lo que se quiera subrayar) */
    }
}

@media(max-width:480px) {

    body {
        width: auto;
    }

    header {
        width: auto;
    }

    .content-fluid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "section1"
        "section2"
        "section3"
        "vertododiv"
        "footer";
    }

    .section1 {
        width: auto;
    }

    .section2 {
        width: auto;
        margin-left: 30px;
        margin-right: 30px;
        .libro {
            margin-right: 55px;
        }
    }

    .content-fluid .spantitulo::after {
        width: 86vw;
    }

    .vertododiv {
        width: auto;
        margin: 40px 5px 40px 5px;
    }

    footer {
        @include tamanio (auto, auto);
        .footer-right-content {
            float: left;
            margin-left: 20px;
        }
    }

    .content-fluid-explorar {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "aside"
        "section2"
        "footer";
        gap: 1px;
    }

    .explorar .libro {
        margin-right: 55px;
    }

    .explorar .spantitulo2::after {
        width: 86vw;
    }
}

@media(min-width:480px) and (max-width:900px) {

    body {
        width: auto;
    }

    header {
        width: auto;
    }

    .content-fluid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "section1"
        "section2"
        "section3"
        "vertododiv"
        "footer";
    }

    .section1 {
        width: auto;
    }

    .section2 {
        width: auto;
        margin-left: 30px;
        margin-right: 30px;
        .libro {
            margin-right: 30px;
            margin-bottom: 15px;
        }
    }

    .content-fluid .spantitulo::after {
        width: 86vw;
    }

    .vertododiv {
        width: auto;
        margin: 40px 5px 40px 5px;
    }

    .content-fluid-explorar {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "aside"
        "section2"
        "footer";
        gap: 1px;
    }

    .explorar .libro {
        margin-right: 55px;
    }

    .explorar .spantitulo2::after {
        width: 86vw;
    }

    footer {
        @include tamanio (auto, auto);
        .footer-right-content {
            float: left;
            margin-left: 20px;
        }
    
    }
}
